<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th class="sortable" (click)="onHeaderClick('registryNumber')">
          Register number
          @if(sortKey === 'registryNumber') {
          <span class="arrow">
            {{ getArrow('registryNumber') }}
          </span>
          }
        </th>

        <th class="sortable" (click)="onHeaderClick('firstName')">
          Name
          @if(sortKey === 'firstName') {
          <span class="arrow">
            {{ getArrow('firstName') }}
          </span>
          }
        </th>

        <th class="sortable" (click)="onHeaderClick('lastName')">
          Last name
          @if(sortKey === 'lastName') {
          <span class="arrow">
            {{ getArrow('lastName') }}
          </span>
          }
        </th>

        <th class="sortable" (click)="onHeaderClick('gender')">
          Gender
          @if(sortKey === 'gender') {
          <span class="arrow">
            {{ getArrow('gender') }}
          </span>
          }
        </th>

        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      @for (employee of sortedEmployees(); track employee.id) {
      <tr>
        <td>{{ employee.registryNumber }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.gender }}</td>
        <td class="actions-cell">
          <!-- default button 'Edit' -->
          <a class="btn ghost" [routerLink]="['/employees', employee.id, 'edit']">Edit</a>

          <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(employee.id)">
            Delete
          </button>

          <ng-content select="[actions]"></ng-content>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="5" class="muted">No employees</td>
      </tr>
      }
    </tbody>
  </table>
</div>