<div class="card u-employee-list-page">
  <app-employee-filters
    [firstName]="store.firstNameFilter()"
    [lastName]="store.lastNameFilter()"
    (firstNameChange)="store.setFirstNameFilter($event)"
    (lastNameChange)="store.setLastNameFilter($event)"
  >
    <a actions routerLink="/employees/new" class="btn btn-link" style="flex:1;">Add employee</a>
  </app-employee-filters>
</div>

<div class="card">
  <app-employee-table
    [employees]="store.filteredEmployees()"
    [sortKey]="store.sortKey()"
    [sortDir]="store.sortDir()"
    (sortKeyChange)="store.setSortKey($event)"
    (toggleSortDir)="store.toggleSortDir()"
    (delete)="onDeleteRequested($event)"
  >
  </app-employee-table>
</div>
